main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	background-color: #f4f4f4;
	padding: 15px 10px;
}

.shopping {
	background-color: #fff;
	width: 65vw;
	height: 400px;
	display: grid;
  grid-template-rows: 1fr auto;
}

.product div {

}

.product img{
	height: 80px;
}

.empaque{
	display: grid;
	grid-template-columns: 150px 150px 150px 150px;
	gap: 10px;
	align-items: center;
	justify-content: center;
	background-color: #f4f4f4;
	padding-top: 20px;
}

.empaque picture {
	background-color: #fff;
}

.empaque label{
	    grid-column: 4 span;
    text-align: center;
    font-weight: bold !important;
}

.empaque img{
	width: 120px;
	height: 150px;
}

.payment {
	display: flex;
	flex-direction: column;
	width: clamp(250px, 35vw, 30vw);
	gap: 10px;
}

.prices {
	font-size: 24px !important;
	display: flex;
	justify-content: flex-end;
}

.payment button {
	background-color: #000;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	border: none;
	width: 100%;
	padding: 10px;
}

.payment Article {
	background-color: #fff;
	padding: 10PX;
}

.payment img {
	width: 50px;
	height: 34px;
}


.credit_card {
	display: grid;
	gap: 10px 15px;
	grid-template-columns: 50px 50px 50px 50px;
	padding: 5px;
}


.py-5 {
	grid-column: 2 span;
	background-color: #fff;
}